nav{
    width:100%;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: rgb(174, 243, 251);
    top: 0%;
    z-index: 10;
    box-shadow: 0 0 10px 0 rgb(188, 195, 201);

}

nav h1{
        text-transform: uppercase;
        font: 500 2rem "Poppins";
        color: rgb(147, 100, 7);
}

nav main{
    width: 70%;
    display: flex;
    justify-content: flex-end;
}

main a{
    color: darkblue;
    margin: 1rem;
}
a:hover{
    color: chocolate;
    cursor: pointer;
}